# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# MkDocs build output
site/

# Editor workspace files
*.sublime-project
*.sublime-workspace

# Local Kubernetes secrets
kubernetes/platform/networking/pihole/secret.yaml

# Local PKI material and generated Kubernetes secrets
PKI/
*.key
*.csr
*.srl
*.p12
*.pfx
*.jks
*.keystore
