# Managed by Ansible. Local changes will be overwritten.
[Unit]
Description=Recover {{ k3s_systemd_service_name }} after delayed time synchronization
Documentation=file://{{ k3s_boot_health_command_path }}
Requires=chrony.service
After=network-online.target chrony.service

[Service]
Type=oneshot
ExecStart={{ k3s_time_recovery_command_path }} {{ k3s_systemd_service_name }} {{ k3s_time_recovery_start_timeout_seconds }} {{ k3s_time_recovery_stop_timeout_seconds }}
TimeoutStartSec={{ k3s_time_recovery_start_timeout_seconds + k3s_time_recovery_stop_timeout_seconds + 15 }}s
RemainAfterExit=yes
